body {
    background-image: url("./cave\ crystal.jpg");
    object-fit: fill;



}

main {
    height: 93.15vh;
}

footer {
    background-color: rgb(0, 0, 0);
    min-height: 6vh;

}

img {
    background-color: rgba(0, 0, 0, 0.486);
}

h3 {
    background-color: rgba(255, 255, 255, 0.507);
}